body {
    width: 750px;
}

.ejemplo-relativo {
    position: relative;
    top: 10px;
    left: 100px;
}

h1 {
    position: fixed;
    left: 500px;
}

p {
    z-index: 10;
}

h2 {
    background-color: azure;
    border: 1px solid;
    padding-left: 10px;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding-top: 10px;
    margin-top: 0px;
}

#primero {
    margin-top: 50px;
}

.columna1 {
    background-color: lightblue;
    float: left;
    width: 350px;
}

.columna2 {
    background-color: lightseagreen;
    float: left;
    width: 350px;
}