* {
    font-family: 'Roboto', sans-serif;
}

#parrafo1 {
    margin-top: 0;
    margin-left: 20px;
    border-top: solid 1px;
    border-bottom: solid 3px;
    float: right;
    width: 300px;
    font-size: 20px;
    line-height: 30px;
}