* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
}

li {
    display: inline;
    padding: 10px;
}

body {
    width: 660px;
    margin: 0 auto;
}

#menu, #pie , #contenido{
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}

.columna {
    width: 200px;
    float: left;
    background-color: #efefef;
    margin: 10px;
}

#principal{
    overflow: auto; /*para que capturara todo lo que esta dentro del div, incluyendo los que estan flotando;*/
    padding: 0px;
}

#pie {
    /*margin: 50px;
    clear: both;*/
}